/* login.css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --font1: "Montserrat", sans-serif;
    --color1: #0fb8ce;
}
body{
    margin: 0;
    padding: 0;
    background-color: #0c2b40;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
h2{
    font-family: var(--font1);
    color: var(--color1);
    font-weight: 300;
    font-size: 3vw;
    border: solid var(--color1);
    padding: 1vw;
    border-radius: 2vw;
}
.signin-box{
    border: solid var(--color1);
    border-radius: 5vw;
    padding: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
label{
    font-family: var(--font1);
    color: var(--color1);
    font-size: 1.5vw;
    margin-right: 2vw;
}
.inputs{
    padding: 2vw;
}
input{
    margin-left: 2vw;
    padding: 0.5vw;
}
button{
    background-color: #0c2b40;
    border: solid 0.15vw var(--color1);
    border-radius: 1vw;
    padding: 1vw;
    padding-left: 2vw;
    padding-right: 2vw;
    font-family: var(--font1);
    color: var(--color1);
    margin: 2vw;
    margin-top: 4vw;
    width: fit-content;
    transition: transform 0.3s;
}
button:hover{
    transform: scale(1.2);
}
a{
    text-decoration: none;
    color: var(--color1);
    transition: transform 0.3s;
}
a:hover{
    transform: scale(1.2);
}

